# Source: https://forums.aws.amazon.com/message.jspa?messageID=666973#jive-message-666973
# TODO: Could we use platform hooks in a Docker container?
# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/platforms-linux-extend.html
container_commands:
  01write_leader_marker:
    command: touch /tmp/is_leader
    leader_only: true
