{
  "AWSEBDockerrunVersion": "1",
  "Image": {
    "Name": "<ZH_AWS_ACCOUNT_ID>.dkr.ecr.<AWS_REGION>.amazonaws.com/<ZH_AWS_ECR_REPO>:<TAG>",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "8000"
    }
  ],
  "Volumes": [
    {
      "HostDirectory": "/tmp",
      "ContainerDirectory": "/tmp"
    }
  ]
}
