# Mac OS X
.DS_Store

# npm
/node_modules
npm-debug.log

# Sublime Text
*.sublime-workspace

# Private
/deployment/hosts
/deployment/vars.yml
/deployment/hosts.staging
/deployment/hosts.test
/deployment/credentials/userpassword
/deployment/secrets-clear-text.yml

# Anisble Roles
/deployment/roles/DavidWittman.redis
/deployment/roles/nodesource.node

# Static files
/public/dzi
/pipeline/fetcher

# Database (sample data)
/data/
