# Mac OS X
.DS_Store

# npm
/node_modules
/node/node_modules
npm-debug.log

# Haskell
/cabal.sandbox.config
/.cabal-sandbox
/.stack-work
/dist/

# Sublime Text
/*.sublime-workspace

# Ops
/ops/vars.yml
/ops/.vault_pass.txt

# PID
/zoomhub.pid

# Exported design files
/design/*.png

# Databases
*.sqlite3

# Logs
*.log

# Images
*.jpg
*.png
*.svg
*.tif

# DZI
*.dzi
*_files/

# VS Code
/.vscode

# Vendor: servant
/vendor/servant/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
