# Mac OS X
.DS_Store

# npm
/node_modules
npm-debug.log

# Sublime Text
*.sublime-workspace

# Private
/deployment/hosts
/deployment/vars.yml
/deployment/secrets.yml
/deployment/hosts.staging
/deployment/credentials/userpassword

# Static files
/public/dzi
/pipeline/fetcher

# Database (sample data)
/data/
