doctype 5
html(lang="en")
  head
    title
      | Zoom.it
    link(rel="stylesheet", type="text/css", href="/static/lib/normalize.css")
    link(rel="stylesheet/less", type="text/css", href="/static/style/main.less")
    script(src="/static/lib/less-1.7.5.min.js")

    // Google Analytics async snippet:
    // (TODO: De-dupe, e.g. via a layout.jade file.)
    // (TODO: Also make the tracking ID a config.)
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55808703-1', 'auto');
      ga('send', 'pageview');

  body
    .container
      p
        | <span class="big">Zoom.it</span> is under new management; please pardon our dust!
      p
        | No longer part of Microsoft, Zoom.it is now an open-source project. See <a href="http://zoomhub.org">ZoomHub.org</a> for more information, including <a href="https://github.com/zoomhub/zoomhub/blob/master/API.md">API docs</a>.
      p
        | We're <strong>not converting new images</strong> during the transition, but existing images (and their pages and embeds) should work.
      p
        | Contact us:
      ul
        li
          | Twitter: <a href="https://twitter.com/ZoomHub/">@ZoomHub</a>
        li
          | Google Groups: <a href="https://groups.google.com/group/zoomhub">ZoomHub</a>
        li
          | GitHub: <a href="https://github.com/zoomhub/zoomhub/issues/">ZoomHub Issues</a>
