doctype 5
html(lang="en")
  head
    title
      | Zoom.it
  body
    #container
      | Zoom.it is under new management; please pardon our dust! For more information, see <a href="https://github.com/zoomhub/zoomhub">https://github.com/zoomhub/zoomhub</a>.
