doctype 5
html(lang="en")
  head
    title
     | ZoomHub:
     = ' ' + content.id
    style.
        html, body {
            font-family: Helvetica, Arial, sans-serif;
            background-color: #000;
            margin: 0;
            height: 100%;
            color: #fff;
        }

        a {
          color: #999;
          text-decoration: none;
        }

        a:hover {
          color: #666;
        }

        #container {
            width: 100%;
            height: 100%;
        }

        /* HACK: See below. */
        .__seadragon {
            height: 100% !important;
        }

  body
    // HACK: Using the embed directly for now, to get all of its features,
    // e.g. not having to load the XML on the client-side.
    // Unfortunately, that means we have to do things like !important above.
    //
    // TODO: It'd be better to create a shared viewer component that can be
    // used both by the embed script and here.
    // That'll also save a client-side request, as we already know the content
    // info on the server-side here (but aren't using it currently).
    //
    !{content.embedHtml}
    //- #container

    // HACK: See above.
    //- script(src='/static/lib/openseadragon/openseadragon.min.js')
    //- script.
    //-     var viewer = OpenSeadragon({
    //-         id: 'container',
    //-         prefixUrl: '/static/lib/openseadragon/images/',
    //-         tileSources: !{JSON.stringify(content.dzi.url)}
    //-     });
