doctype 5
html(lang="en")
  head
    title
     | ZoomHub:
     = ' ' + content.id
    style.
        html, body {
            font-family: Helvetica, Arial, sans-serif;
            background-color: #000;
            margin: 0;
            height: 100%;
            color: #fff;
        }

        a {
          color: #999;
          text-decoration: none;
        }

        a:hover {
          color: #666;
        }

        #metadata {
          position: absolute;
          right: 0;
          bottom: 0;
          background-color: #222;
          padding: 0.8em 1.5em;
          text-align: right;
        }

        #container {
            width: 100%;
            height: 100%;
        }
  body
    #container
    #metadata
        // HACK: Hardcoding knowledge of URL from app._coffee.
        a(href='/v1/content/#{content.id}.json') Metadata
    script(src='/static/js/openseadragon.min.js')
    script.
        var viewer = OpenSeadragon({
            id: 'container',
            prefixUrl: '/static/js/images/',
            tileSources: !{JSON.stringify(content.dzi.url)}
        });
