doctype 5
html(lang="en")
  head
    title
     | ZoomHub:
     = ' ' + id
    style.
        html, body {
            background-color: #000;
            margin: 0;
            height: 100%;
        }

        #container {
            width: 100%;
            height: 100%;
        }
  body
    #container
    script(src='/static/js/openseadragon.min.js')
    script
        var viewer = OpenSeadragon({
            id: "container",
            prefixUrl: "/static/js/images/",
            tileSources: "/static/#{id}.dzi"
        });
